<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Eco Ponto</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="./assets/img/logo.png" alt="Logo Eco Ponto">
            <h1>Eco Ponto</h1>
        </div>
        <nav>
            <button class="sandwich-btn" onclick="toggleMenu()">☰</button>
        </nav>
    </header>
    
    
    <main>
        <section class="">

        </section>
    
        <section>
            
        </section>
    </main>
    
    <footer>
        © 2024 Eco Ponto
    </footer>
    
    <div id="side-menu" class="menu">
        <div class="menu-content">
            <ul>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        <div class="footer-link">
            <a href="#">Sobre</a>
        </div>
    </div>
    <div id="overlay" onclick="toggleMenu()"></div>
    

    <script src="../controll/js/scripts.js"></script>
</body>
</html>